Repository ndewijer/Investment-Portfolio-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-backend, docker-integration-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      # Run the linter
      - id: ruff
        pass_filenames: false
        args: [--fix]
      # Run the formatter
      - id: ruff-format
        language_version: python3.13

  # Python testing and coverage
  - repo: local
    hooks:
      - id: pytest-backend
        name: pytest-backend
        entry: bash -c 'uv run pytest'
        language: system
        types: [python]
        pass_filenames: false
        always_run: false

      - id: docker-integration-test
        name: docker-integration-test
        entry: scripts/test-docker-integration.sh
        language: system
        pass_filenames: false
        always_run: false
        files: ^(backend/Dockerfile|frontend/Dockerfile|docker-compose\.yml|pyproject\.toml|uv\.lock|frontend/nginx\.conf)$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.39.1
    hooks:
      - id: eslint
        files: ^frontend/src/.*\.(js|jsx)$
        additional_dependencies:
          - eslint@9.39.1
          - eslint-plugin-react@7.37.5
          - eslint-plugin-react-hooks@7.0.1
          - eslint-plugin-jsdoc@61.4.0
          - eslint-config-prettier@10.1.8
          - "@eslint/compat@1.4.1"
          - "@eslint/eslintrc@3.3.1"
          - "@eslint/js@9.39.1"
          - globals@16.5.0
        args: [--config, frontend/eslint.config.mjs]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^frontend/.*\.(js|jsx|ts|tsx|css|scss|json|yaml)$

fix: Update version endpoint check to use app_version field
  .github/workflows/docker-test.yml
Due: none

feat: Configure Jest for frontend testing (Week 2 - Task 2.1)
  .github/workflows/frontend-ci.yml
  frontend/.babelrc
  frontend/__mocks__/fileMock.js
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/setupTests.js
  frontend/src/utils/__tests__/sample.test.js
  todo/TESTING_PLAN_1.3.5.md
Due: none

feat: Add comprehensive frontend test suite with Jest and React Testing Library
  docs/TESTING.md
  frontend/eslint.config.mjs
  frontend/src/hooks/__tests__/useApiState.test.js
  frontend/src/hooks/__tests__/useNumericInput.test.js
  frontend/src/utils/__tests__/currency.test.js
  frontend/src/utils/__tests__/numberFormat.test.js
  frontend/src/utils/portfolio/__tests__/portfolioCalculations.test.js
  frontend/src/utils/portfolio/__tests__/transactionValidation.test.js
Due: none

feat: Add health check error page and system status page
  frontend/src/App.js
  frontend/src/components/HealthCheckError.css
  frontend/src/components/HealthCheckError.js
  frontend/src/context/AppContext.js
  frontend/src/pages/StatusPage.css
  frontend/src/pages/StatusPage.js
Due: none

refactor: Move status page to Config tab (first tab)
  frontend/src/App.js
  frontend/src/components/StatusTab.js
  frontend/src/pages/Config.css
  frontend/src/pages/Config.js
  frontend/src/pages/StatusPage.css
Due: none

fix: Suppress network errors and prevent uncaught runtime errors
  frontend/src/context/AppContext.js
  frontend/src/utils/api.js
Due: none

docs: Update TESTING_PLAN_1.3.5.md - Mark Week 2 complete
  todo/TESTING_PLAN_1.3.5.md
Due: none

test: Add component tests for shared components (Part 1/2)
  frontend/src/components/__tests__/Modal.test.js
  frontend/src/components/__tests__/Toast.test.js
  frontend/src/components/shared/__tests__/ErrorMessage.test.js
  frontend/src/components/shared/__tests__/LoadingSpinner.test.js
Due: none

feat: Add comprehensive tests for FormModal and DataTable components
  frontend/src/components/shared/__tests__/DataTable.test.js
  frontend/src/components/shared/__tests__/FormModal.test.js
Due: none

refactor: Remove frontend build args and modernize seed data
  .gitignore
  README.md
  backend/Dockerfile
  backend/app/cli_commands.py
  backend/app/seed_data.py
  backend/data/seed/funds/prices/IE0003XJA0J9.csv
  backend/data/seed/funds/prices/NL0006311771.csv
  backend/data/seed/funds/prices/NL0012125736.csv
  backend/data/seed/funds/prices/US0378331005.csv
  backend/data/seed/funds/prices/US9229087690.csv
  backend/docker-entrypoint.sh
  backend/run.py
  docker-compose.yml
  docs/DEVELOPMENT.md
  docs/DOCKER.md
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/src/config.js
  scripts/test-docker-integration.sh
Due: pytest-backend, docker-integration-test

feat: Add configurable default allocation for IBKR imports (v1.3.5)
  backend/VERSION
  backend/app/api/ibkr_namespace.py
  backend/app/models.py
  backend/app/services/ibkr_config_service.py
  backend/app/tasks/ibkr_import.py
  backend/migrations/versions/1.3.5_add_ibkr_default_allocation_fields.py
  backend/tests/docs/services/IBKR_CONFIG_SERVICE_TESTS.md
  backend/tests/docs/services/SYSTEM_SERVICE_TESTS.md
  backend/tests/services/test_ibkr_config_service.py
  backend/tests/services/test_system_service.py
  frontend/package.json
  frontend/src/pages/Config.js
Due: pytest-backend

fix: Improve default allocation UX and add documentation
  docs/IBKR_FEATURES.md
  frontend/src/pages/Config.css
  frontend/src/pages/Config.js
  frontend/src/pages/IBKRInbox.css
Due: none

docs: Update CHANGELOG.md for version 1.3.5
  CHANGELOG.md
Due: none

test: Add comprehensive tests for portfolio components
  frontend/src/components/portfolio/__tests__/FundsTable.test.js
  frontend/src/components/portfolio/__tests__/PortfolioChart.test.js
  frontend/src/components/portfolio/__tests__/PortfolioSummary.test.js
  frontend/src/setupTests.js
Due: none

test: Add comprehensive tests for FormatContext provider
  frontend/src/context/__tests__/FormatContext.test.js
  todo/TESTING_PLAN_1.3.5.md
Due: none

test: Add comprehensive AppContext provider tests
  frontend/src/context/__tests__/AppContext.test.js
  todo/TESTING_PLAN_1.3.5.md
Due: none

test: Add Playwright E2E testing framework and smoke tests
  frontend/.gitignore
  frontend/e2e/health-check.spec.js
  frontend/e2e/navigation.spec.js
  frontend/e2e/smoke.spec.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.js
  todo/TESTING_PLAN_1.3.5.md
Due: none

test: Add comprehensive Playwright E2E tests for critical user journeys
  .github/workflows/docker-test.yml
  .pre-commit-config.yaml
  docs/DEVELOPMENT.md
  frontend/e2e/dividends.spec.js
  frontend/e2e/portfolio-management.spec.js
  frontend/e2e/transactions.spec.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.js
  frontend/webpack.config.js
  scripts/test-docker-integration.sh
  todo/TESTING_PLAN_1.3.5.md
Due: none

test: Complete Week 4 unit test coverage and documentation organization
  docs/TESTING.md
  frontend/package.json
  frontend/src/hooks/__tests__/useChartData.test.js
  frontend/src/hooks/portfolio/__tests__/useDividendManagement.test.js
  frontend/src/hooks/portfolio/__tests__/useFundPricing.test.js
  frontend/src/hooks/portfolio/__tests__/usePortfolioData.test.js
  frontend/src/hooks/portfolio/__tests__/useTransactionManagement.test.js
  frontend/src/utils/__tests__/api.test.js
  frontend/src/utils/portfolio/__tests__/dateHelpers.test.js
  frontend/src/utils/portfolio/__tests__/portfolioCalculations.test.js
  frontend/tests/docs/README.md
  frontend/tests/docs/UNIT_TEST_COVERAGE_SUMMARY.md
  frontend/tests/docs/infrastructure/COVERAGE_MONITORING.md
Due: none

docs: Update CHANGELOG.md for 1.3.5 release with complete testing coverage
  CHANGELOG.md
Due: none

Fix IBKR Flex API error 1020 - Add User-Agent header and token whitespace handling
  backend/app/services/ibkr_flex_service.py
  backend/tests/services/test_ibkr_flex_service.py
Due: pytest-backend

Optimize frontend webpack build - Reduce bundle size by 92%
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack.config.js
Due: none

Update frontend icon from ICO to SVG format
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/public/portfolio-icon.svg
Due: none

Bump version to 1.3.6
  CHANGELOG.md
  backend/VERSION
Due: none

fix/correct cors headers
  backend/run.py
  frontend/src/utils/__tests__/api.test.js
  frontend/src/utils/api.js
Due: pytest-backend

Rename Funds, Portfolios and Transactions
  backend/app/api/__init__.py
  backend/app/api/fund_namespace.py
  backend/app/api/portfolio_namespace.py
  backend/app/api/transaction_namespace.py
  backend/app/tasks/price_updates.py
  backend/tests/api/test_fund_routes.py
  backend/tests/api/test_portfolio_routes.py
  backend/tests/api/test_transaction_routes.py
  backend/tests/docs/api/FUND_ROUTES_TESTS.md
  backend/tests/docs/api/TRANSACTION_ROUTES_TESTS.md
  backend/tests/docs/infrastructure/PORTFOLIO_PERFORMANCE_TESTS.md
  backend/tests/docs/infrastructure/TESTING_INFRASTRUCTURE.md
  docs/API_DOCUMENTATION.md
  docs/ARCHITECTURE.md
  docs/TESTING.md
  frontend/e2e/navigation.spec.js
  frontend/e2e/portfolio-management.spec.js
  frontend/e2e/smoke.spec.js
  frontend/e2e/transactions.spec.js
  frontend/src/App.js
  frontend/src/components/portfolio/FundsTable.js
  frontend/src/components/portfolio/__tests__/FundsTable.test.js
  frontend/src/hooks/portfolio/__tests__/useDividendManagement.test.js
  frontend/src/hooks/portfolio/__tests__/useFundPricing.test.js
  frontend/src/hooks/portfolio/__tests__/useTransactionManagement.test.js
  frontend/src/hooks/portfolio/useDividendManagement.js
  frontend/src/hooks/portfolio/useFundPricing.js
  frontend/src/hooks/portfolio/usePortfolioData.js
  frontend/src/hooks/portfolio/useTransactionManagement.js
  frontend/src/hooks/useChartData.js
  frontend/src/pages/Config.js
  frontend/src/pages/FundDetail.js
  frontend/src/pages/Funds.js
  frontend/src/pages/Overview.js
  frontend/src/pages/PortfolioDetail.js
  frontend/src/pages/Portfolios.js
  frontend/src/utils/__tests__/api.test.js
  scripts/test-docker-integration.sh
  todo/CURRENCY_CONVERSION_PLAN.md
  todo/TESTING_PLAN_1.3.5.md
Due: pytest-backend

Dividends
  backend/app/api/__init__.py
  backend/app/api/dividend_namespace.py
  backend/app/api/ibkr_namespace.py
  backend/tests/api/test_dividend_routes.py
  backend/tests/api/test_ibkr_routes.py
  backend/tests/docs/api/DIVIDEND_ROUTES_TESTS.md
  backend/tests/docs/api/IBKR_ROUTES_TESTS.md
  frontend/src/hooks/portfolio/__tests__/useDividendManagement.test.js
  frontend/src/hooks/portfolio/useDividendManagement.js
Due: pytest-backend

remove favico
  frontend/public/favicon.ico
Due: none

forgot updating the webpack for the favicon.ico
  frontend/webpack.config.js
Due: none

fix/process fees as well, round to 6 decimalplaces
  backend/app/services/portfolio_service.py
Due: pytest-backend

Add optional Flask response time logging for development
  backend/run.py
  docs/DEVELOPMENT.md
Due: pytest-backend

correct some developer backend URL
  frontend/src/pages/Config.js
Due: none

Refactor portfolio services: consolidate summary and history logic
  backend/app/api/portfolio_namespace.py
  backend/app/services/portfolio_service.py
Due: pytest-backend

Add SQLite materialized view for portfolio history performance optimization
  MATERIALIZED_VIEW_IMPLEMENTATION.md
  backend/app/cli_commands.py
  backend/app/models.py
  backend/app/services/portfolio_history_materialized_service.py
  backend/app/services/portfolio_service.py
  backend/app/services/transaction_service.py
  backend/migrations/versions/1.4.0_add_portfolio_history_materialized.py
Due: pytest-backend

Fix linter issues and add comprehensive tests for materialized view service
  backend/app/cli_commands.py
  backend/app/services/portfolio_history_materialized_service.py
  backend/app/services/transaction_service.py
  backend/tests/services/test_portfolio_history_materialized_service.py
Due: pytest-backend

Fix test fixtures for materialized view service tests
  backend/tests/services/test_portfolio_history_materialized_service.py
Due: pytest-backend

Implement test fixtures and fix materialized view tests
  backend/tests/conftest.py
  backend/tests/services/test_portfolio_history_materialized_service.py
Due: pytest-backend

Add comprehensive test documentation and fix formatting
  backend/tests/docs/services/PORTFOLIO_HISTORY_MATERIALIZED_SERVICE_TESTS.md
  backend/tests/services/test_portfolio_history_materialized_service.py
Due: pytest-backend

Update TESTING.md with materialized view service
  docs/TESTING.md
Due: none

Add comprehensive architecture documentation for materialized view
  docs/ARCHITECTURE.md
Due: none
