Repository ndewijer/Investment-Portfolio-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-backend, docker-integration-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      # Run the linter
      - id: ruff
        pass_filenames: false
        args: [--fix]
      # Run the formatter
      - id: ruff-format
        language_version: python3.13

  # Python testing and coverage
  - repo: local
    hooks:
      - id: pytest-backend
        name: pytest-backend
        entry: bash -c 'uv run pytest'
        language: system
        types: [python]
        pass_filenames: false
        always_run: false

      - id: docker-integration-test
        name: docker-integration-test
        entry: scripts/test-docker-integration.sh
        language: system
        pass_filenames: false
        always_run: false
        files: ^(backend/Dockerfile|frontend/Dockerfile|docker-compose\.yml|pyproject\.toml|uv\.lock|frontend/nginx\.conf)$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.39.1
    hooks:
      - id: eslint
        files: ^frontend/src/.*\.(js|jsx)$
        additional_dependencies:
          - eslint@9.39.1
          - eslint-plugin-react@7.37.5
          - eslint-plugin-react-hooks@7.0.1
          - eslint-plugin-jsdoc@61.4.0
          - eslint-config-prettier@10.1.8
          - "@eslint/compat@1.4.1"
          - "@eslint/eslintrc@3.3.1"
          - "@eslint/js@9.39.1"
          - globals@16.5.0
        args: [--config, frontend/eslint.config.mjs]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^frontend/.*\.(js|jsx|ts|tsx|css|scss|json|yaml)$

make new pretty?
  frontend/MODERNIZATION_2026.md
  frontend/modern-showcase.html
  frontend/src/styles/modern-2026.css
  frontend/src/styles/modern-cards.css
  frontend/src/styles/modern-table.css
Due: none

fix: Complete materialized view invalidation for all data mutations
  CLAUDE.md
  backend/app/services/dividend_service.py
  backend/app/services/fund_service.py
  backend/app/services/ibkr_transaction_service.py
  backend/app/services/price_update_service.py
  backend/app/services/transaction_service.py
  backend/tests/docs/services/DIVIDEND_MATERIALIZED_VIEW_INVALIDATION_TESTS.md
  backend/tests/docs/services/DIVIDEND_SERVICE_TESTS.md
  backend/tests/docs/services/IBKR_TRANSACTION_SERVICE_TESTS.md
  backend/tests/docs/services/PRICE_UPDATE_MATERIALIZED_VIEW_INVALIDATION_TESTS.md
  backend/tests/docs/services/PRICE_UPDATE_SERVICE_TESTS.md
  backend/tests/docs/services/TRANSACTION_MATERIALIZED_VIEW_INVALIDATION_TESTS.md
  backend/tests/docs/services/TRANSACTION_SERVICE_TESTS.md
  backend/tests/services/test_dividend_materialized_view_invalidation.py
  backend/tests/services/test_fund_history_auto_materialization.py
  backend/tests/services/test_ibkr_materialized_view_invalidation.py
  backend/tests/services/test_price_update_materialized_view_invalidation.py
  backend/tests/services/test_transaction_materialized_view_invalidation.py
  docs/MATERIALIZED_VIEW_IMPLEMENTATION.md
Due: pytest-backend

release 1.5.1
  CHANGELOG.md
  backend/VERSION
  frontend/package.json
  todo/TODO.md
Due: none

fix: IBKR allocation API mismatch (snake_case → camelCase)
  CHANGELOG.md
  backend/VERSION
  frontend/package.json
  frontend/src/pages/IBKRInbox.js
  todo/TODO.md
Due: none

fix: Add stale data detection and comprehensive logging to materialized views
  CHANGELOG.md
  backend/app/services/fund_service.py
  backend/app/services/ibkr_transaction_service.py
  backend/app/services/portfolio_history_materialized_service.py
  docs/MATERIALIZED_VIEW_IMPLEMENTATION.md
Due: pytest-backend

fix: Add comprehensive stale detection for prices and dividends
  backend/app/services/fund_service.py
  docs/MATERIALIZED_VIEW_IMPLEMENTATION.md
Due: pytest-backend

Release v1.5.3 - Fix nightly price update edge case
  CHANGELOG.md
  RELEASE_1.5.3.md
  backend/VERSION
  frontend/package.json
  todo/TODO.md
Due: none

Release v1.5.4 - Data integrity improvements and API standardization
  CHANGELOG.md
  backend/VERSION
  backend/app/api/developer_namespace.py
  backend/app/api/fund_namespace.py
  backend/app/models.py
  backend/app/services/fund_service.py
  backend/app/services/price_update_service.py
  backend/migrations/versions/1.5.4_add_fund_price_unique_constraint.py
  backend/tests/api/test_developer_routes.py
  backend/tests/api/test_fund_routes.py
  backend/tests/services/test_fund_service.py
  backend/tests/services/test_price_update_service.py
  docs/DISABLED_ENDPOINTS.md
  docs/FUND_PRICE_UNIQUE_CONSTRAINT.md
  frontend/package.json
  frontend/src/pages/FundDetail.js
  frontend/src/pages/Funds.js
Due: pytest-backend

docs: Add version footers to new documentation files
  docs/DISABLED_ENDPOINTS.md
  docs/FUND_PRICE_UNIQUE_CONSTRAINT.md
Due: none

fix: Implement full invalidation strategy for materialized views
  backend/app/services/developer_service.py
  backend/app/services/fund_service.py
  backend/app/services/portfolio_history_materialized_service.py
  backend/app/services/price_update_service.py
  backend/app/services/system_service.py
  backend/tests/services/test_portfolio_history_materialized_service.py
  backend/tests/services/test_system_service.py
  frontend/src/components/portfolio/PortfolioChart.js
  frontend/src/pages/PortfolioDetail.js
Due: pytest-backend

fix: Fix IBKR allocation percentage not updating
  backend/app/services/ibkr_transaction_service.py
Due: pytest-backend

refactor: Remove unnecessary fields from transaction PUT request
  backend/app/api/transaction_namespace.py
  frontend/src/hooks/portfolio/__tests__/useTransactionManagement.test.js
  frontend/src/hooks/portfolio/useTransactionManagement.js
Due: pytest-backend

fix: Fix dividend form blank fund and make reinvestment optional until ex-date
  frontend/src/components/portfolio/PortfolioActions.js
  frontend/src/hooks/portfolio/__tests__/useDividendManagement.test.js
  frontend/src/hooks/portfolio/useDividendManagement.js
Due: none

fix: Block direct transaction deletion when linked to a dividend
  backend/app/models.py
  backend/app/services/dividend_service.py
  backend/migrations/versions/1.5.5_dividend_reinvestment_restrict_fk.py
Due: pytest-backend

chore: Release v1.5.5 - Data integrity and form fixes
  CHANGELOG.md
  RELEASE_1.5.3.md
  backend/VERSION
  backend/migrations/versions/1.5.5_dividend_reinvestment_restrict_fk.py
  frontend/package.json
Due: pytest-backend

fix: Update vulnerable dependencies to resolve security advisories
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: docker-integration-test

fix: Replace jest with vitest to eliminate minimatch@3 security vulnerabilities
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/portfolio/__tests__/FundsTable.test.js
  frontend/src/components/portfolio/__tests__/PortfolioChart.test.js
  frontend/src/components/shared/__tests__/DataTable.test.js
  frontend/src/context/__tests__/AppContext.test.js
  frontend/src/hooks/__tests__/useChartData.test.js
  frontend/src/hooks/portfolio/__tests__/useDividendManagement.test.js
  frontend/src/hooks/portfolio/__tests__/useFundPricing.test.js
  frontend/src/hooks/portfolio/__tests__/usePortfolioData.test.js
  frontend/src/hooks/portfolio/__tests__/useTransactionManagement.test.js
  frontend/src/setupTests.js
  frontend/vitest.config.js
Due: none

urllib3==2.6.3
  backend/requirements.txt
  pyproject.toml
  uv.lock
Due: docker-integration-test

fix: Update CI Node version and fix package-lock.json sync issues
  .github/workflows/docker-test.yml
  .github/workflows/frontend-ci.yml
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: Release v1.5.6 - Security dependency updates and jest→vitest migration
  CHANGELOG.md
  frontend/package.json
  todo/TODO.md
Due: none

refactor: Separate import response data from display message
  backend/app/api/developer_namespace.py
  frontend/src/pages/Config.js
Due: pytest-backend

feat: Add report_date and notes fields to IBKRTransaction (v1.5.7)
  CHANGELOG.md
  backend/VERSION
  backend/app/api/ibkr_namespace.py
  backend/app/models.py
  backend/app/services/ibkr_flex_service.py
  backend/migrations/versions/1.5.7_add_report_date_buy_sell_notes_to_ibkr_transaction.py
  backend/tests/api/test_ibkr_routes.py
  backend/tests/fixtures/ibkr_fixtures.py
  backend/tests/services/test_fund_matching_service.py
  backend/tests/services/test_ibkr_flex_service.py
  backend/tests/services/test_ibkr_materialized_view_invalidation.py
  backend/tests/services/test_ibkr_transaction_service.py
  backend/tests/services/test_transaction_service.py
  docs/IBKR_FEATURES.md
  docs/IBKR_SETUP.md
  docs/security/minimatch-eslint-vulnerability.md
  frontend/package.json
  pyproject.toml
  todo/TODO.md
  uv.lock
Due: pytest-backend, docker-integration-test

fix: Stamp Alembic head after db.create_all() on fresh install
  backend/run.py
Due: pytest-backend

chore: Release v1.5.7 - IBKR report_date, notes fields and import response separation
  CHANGELOG.md
Due: none

fix: IBKR config type consistency and delete response code
  backend/app/api/ibkr_namespace.py
  backend/app/services/ibkr_config_service.py
  backend/tests/api/test_ibkr_routes.py
Due: pytest-backend

chore: consolidate dependabot dependency updates (PRs #162-167)
  .github/workflows/docker-test.yml
  backend/requirements.txt
  docs/security/minimatch-eslint-vulnerability.md
  frontend/.npmrc
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: explicitly add @fortawesome/fontawesome-svg-core peer dep
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: restore peer deps dropped by legacy-peer-deps install
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
Due: docker-integration-test

fix: explicitly add @testing-library/dom to devDependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

docs: expand eslint cleanup runbook with full legacy-peer-deps removal steps
  docs/security/minimatch-eslint-vulnerability.md
Due: none

fix: add Apple touch icon and PNG favicon fallbacks
  frontend/package-lock.json
  frontend/package.json
  frontend/public/apple-touch-icon.png
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/public/portfolio-icon-192.png
  frontend/public/portfolio-icon-512.png
  frontend/public/portfolio-icon.png
  frontend/webpack.config.js
Due: none

chore: bump version to 1.6.1
  CHANGELOG.md
  backend/VERSION
  frontend/package-lock.json
  frontend/package.json
  todo/TODO.md
Due: none

fix: crop transparent edges from icon PNGs
  frontend/public/apple-touch-icon.png
  frontend/public/portfolio-icon-192.png
  frontend/public/portfolio-icon-512.png
  frontend/public/portfolio-icon.png
Due: none

fix: regenerate icon PNGs from clean 1024x1024 source
  frontend/public/apple-touch-icon.png
  frontend/public/portfolio-icon-192.png
  frontend/public/portfolio-icon-512.png
  frontend/public/portfolio-icon.png
Due: none

fix: resolve silent auto-allocation failure due to camelCase key mismatch
  CHANGELOG.md
  backend/VERSION
  backend/app/api/ibkr_namespace.py
  backend/app/tasks/ibkr_import.py
  frontend/package-lock.json
  frontend/package.json
Due: pytest-backend

enhance: improve symbol field UX with debounce and clearer labeling
  CHANGELOG.md
  backend/VERSION
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/Funds.js
Due: none

fix: backport materialized view fixes — sold funds no longer vanish from history
  CHANGELOG.md
  backend/VERSION
  backend/app/models.py
  backend/app/services/fund_service.py
  backend/app/services/portfolio_history_materialized_service.py
  backend/app/services/portfolio_service.py
  backend/app/services/system_service.py
  backend/migrations/versions/1.7.0_add_sale_proceeds_original_cost_to_materialized_view.py
  backend/tests/performance/test_portfolio_performance.py
  backend/tests/services/test_fund_history_auto_materialization.py
  backend/tests/services/test_portfolio_history_materialized_service.py
  backend/tests/services/test_system_service.py
  backend/tests/services/test_zero_shares_guard.py
  frontend/package.json
  todo/TODO.md
Due: pytest-backend

fix: handle 404 for empty transactions/dividends and auto-materialize on overview
  backend/app/services/portfolio_service.py
  frontend/src/hooks/portfolio/useDividendManagement.js
  frontend/src/hooks/portfolio/useTransactionManagement.js
Due: pytest-backend

fix: prevent repeated auto-materialization on every overview page load
  backend/app/services/portfolio_service.py
  backend/tests/services/test_portfolio_service.py
Due: pytest-backend
