Repository ndewijer/Investment-Portfolio-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-backend, docker-integration-test

pytest-backend:
  name: pytest-backend
  entry: bash -c 'uv run pytest'
  language: system
  pass_filenames: false
  always_run: false

docker-integration-test:
  name: docker-integration-test
  entry: scripts/test-docker-integration.sh
  language: system
  pass_filenames: false
  always_run: false

fix timeout issue with go backend
  frontend/nginx.conf
Due: docker-integration-test

feat: implement "Financial Precision" design system for v2.0 frontend
  frontend/MODERNIZATION_2026.md
  frontend/modern-showcase.html
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/CollapsibleInfo.js
  frontend/src/components/HealthCheckError.js
  frontend/src/components/Modal.css
  frontend/src/components/Modal.js
  frontend/src/components/Navigation.css
  frontend/src/components/StatusTab.js
  frontend/src/components/Toast.css
  frontend/src/components/Toast.js
  frontend/src/components/__tests__/Modal.test.js
  frontend/src/components/portfolio/FundsTable.js
  frontend/src/components/portfolio/__tests__/FundsTable.test.js
  frontend/src/components/shared/DataTable.css
  frontend/src/components/shared/DataTable.js
  frontend/src/components/shared/__tests__/DataTable.test.js
  frontend/src/context/ThemeContext.js
  frontend/src/index.css
  frontend/src/pages/FundDetail.css
  frontend/src/pages/Funds.css
  frontend/src/pages/Funds.js
  frontend/src/pages/LogViewer.css
  frontend/src/pages/Overview.css
  frontend/src/pages/Overview.js
  frontend/src/pages/PortfolioDetail.css
  frontend/src/pages/Portfolios.css
  frontend/src/pages/Portfolios.js
  frontend/src/styles/common.css
  frontend/src/styles/modern-2026.css
  frontend/src/styles/modern-cards.css
  frontend/src/styles/modern-table.css
Due: none

feat: modernize remaining components with design system tokens
  frontend/src/components/CollapsibleInfo.css
  frontend/src/components/HealthCheckError.css
  frontend/src/components/ValueChart.css
  frontend/src/components/portfolio/PortfolioSummary.js
  frontend/src/components/portfolio/__tests__/PortfolioSummary.test.js
  frontend/src/components/shared/ActionButtons.css
  frontend/src/components/shared/ErrorMessage.css
  frontend/src/components/shared/FormModal.css
  frontend/src/components/shared/LoadingSpinner.css
  frontend/src/pages/FundDetail.css
  frontend/src/pages/FundDetail.js
  frontend/src/pages/PortfolioDetail.js
Due: none

feat: complete design system migration for all remaining pages
  frontend/src/components/FilterPopup.css
  frontend/src/pages/Config.css
  frontend/src/pages/Config.js
  frontend/src/pages/IBKRInbox.css
  frontend/src/pages/IBKRInbox.js
  frontend/src/pages/LogViewer.css
  frontend/src/pages/LogViewer.js
  frontend/src/styles/mobile.css
Due: none

fix: UI review pass - dark mode, layout, filters, and polish
  docker-compose.yml
  frontend/src/App.css
  frontend/src/components/FilterPopup.css
  frontend/src/components/FilterPopup.js
  frontend/src/components/portfolio/DividendsTable.js
  frontend/src/components/portfolio/FundsTable.js
  frontend/src/components/portfolio/PortfolioSummary.js
  frontend/src/components/portfolio/TransactionsTable.js
  frontend/src/components/portfolio/__tests__/FundsTable.test.js
  frontend/src/components/portfolio/__tests__/PortfolioSummary.test.js
  frontend/src/components/shared/ActionButtons.css
  frontend/src/components/shared/DataTable.js
  frontend/src/context/ThemeContext.js
  frontend/src/pages/Config.css
  frontend/src/pages/Config.js
  frontend/src/pages/FundDetail.css
  frontend/src/pages/FundDetail.js
  frontend/src/pages/Funds.css
  frontend/src/pages/IBKRInbox.css
  frontend/src/pages/IBKRInbox.js
  frontend/src/pages/LogViewer.js
  frontend/src/pages/Overview.css
  frontend/src/pages/Overview.js
  frontend/src/pages/PortfolioDetail.css
  frontend/src/pages/PortfolioDetail.js
  frontend/src/pages/Portfolios.css
  frontend/src/styles/common.css
  frontend/src/styles/modern-2026.css
  frontend/src/styles/modern-cards.css
  frontend/src/styles/modern-table.css
  scripts/test-docker-integration.sh
Due: docker-integration-test

feat: add GET /developer/logs/filter-options endpoint
  .gitignore
  backend/app/api/developer_namespace.py
  backend/app/services/logging_service.py
  backend/tests/api/test_developer_routes.py
Due: pytest-backend

fix: v2 frontend polish - dark mode, filters, accessibility, and DRY CSS
  frontend/src/App.css
  frontend/src/components/CollapsibleInfo.css
  frontend/src/components/FilterPopup.css
  frontend/src/components/FilterPopup.js
  frontend/src/components/HealthCheckError.css
  frontend/src/components/Modal.css
  frontend/src/components/Modal.js
  frontend/src/components/Navigation.css
  frontend/src/components/ValueChart.css
  frontend/src/components/portfolio/TransactionsTable.js
  frontend/src/components/shared/ActionButtons.css
  frontend/src/components/shared/DataTable.css
  frontend/src/components/shared/DataTable.js
  frontend/src/components/shared/ErrorMessage.css
  frontend/src/components/shared/FormModal.css
  frontend/src/components/shared/LoadingSpinner.css
  frontend/src/context/__tests__/AppContext.test.js
  frontend/src/pages/Config.css
  frontend/src/pages/FundDetail.css
  frontend/src/pages/FundDetail.js
  frontend/src/pages/Funds.css
  frontend/src/pages/IBKRInbox.css
  frontend/src/pages/LogViewer.css
  frontend/src/pages/LogViewer.js
  frontend/src/pages/Overview.css
  frontend/src/pages/Overview.js
  frontend/src/pages/PortfolioDetail.css
  frontend/src/pages/Portfolios.css
  frontend/src/styles/common.css
  frontend/src/styles/modern-2026.css
  frontend/src/styles/modern-cards.css
  frontend/src/styles/modern-table.css
Due: none

go
  backend/app/api/developer_namespace.py
  backend/app/services/logging_service.py
  frontend/src/pages/LogViewer.css
  frontend/src/pages/LogViewer.js
Due: pytest-backend

lint
  backend/app/services/logging_service.py
Due: pytest-backend

fix: use totalOriginalCost for realized gain/loss percentage
  frontend/src/pages/Overview.js
Due: none

feat: migrate charting from Recharts to ApexCharts
  frontend/chart-alternatives-demo.html
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.js
  frontend/src/components/ValueChart.css
  frontend/src/components/ValueChart.js
Due: none

docs: update docs for ApexCharts migration (targeting v2.0.0)
  docs/ARCHITECTURE.md
  docs/COMPONENTS.md
  docs/CSS.md
  docs/VERSIONING_AND_FEATURES.md
Due: none

fix: address PR review issues in ApexCharts migration
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ValueChart.css
  frontend/src/components/ValueChart.js
Due: none

fix: update vulnerable dependencies
  frontend/package-lock.json
  pyproject.toml
  uv.lock
Due: docker-integration-test

you too
  backend/requirements.txt
Due: none

fix: prevent skip overshoot in log pagination
  backend/app/services/logging_service.py
  backend/tests/api/test_developer_routes.py
  backend/tests/docs/api/DEVELOPER_ROUTES_TESTS.md
Due: pytest-backend

fix: use microsecond-precision timestamps for log entries
  backend/app/services/logging_service.py
Due: pytest-backend

fix: support vite 8 + @vitejs/plugin-react 6 in vitest
  frontend/package-lock.json
  frontend/package.json
  frontend/vitest.config.js
Due: none

chore: add uv exclude-newer for supply-chain protection
  pyproject.toml
Due: docker-integration-test

chore: migrate frontend from npm to pnpm
  .github/workflows/docker-test.yml
  .github/workflows/frontend-ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  docs/CONTRIBUTING.md
  docs/DEVELOPMENT.md
  docs/TESTING.md
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/src/index.js
  frontend/src/reportWebVitals.js
  scripts/sync-precommit-versions.sh
  scripts/test-docker-integration.sh
Due: docker-integration-test

fix: resolve mobile fullscreen chart overlap and button interaction
  frontend/src/components/ValueChart.css
  frontend/src/components/ValueChart.js
Due: none

fix: resolve 7 dependabot security vulnerabilities
  backend/requirements.txt
  frontend/package.json
  frontend/pnpm-lock.yaml
  pyproject.toml
  uv.lock
Due: docker-integration-test

chore: enforce pnpm and update docs from npm to pnpm
  README.md
  frontend/package.json
  frontend/tests/docs/README.md
  frontend/tests/docs/infrastructure/COVERAGE_MONITORING.md
Due: none

docs: expand v2.0.0 changelog with all PRs since v1.7.0
  CHANGELOG.md
Due: none

chore: bump frontend version to 2.0.0
  frontend/package.json
Due: none

chore: update TODO.md version to 2.0.0
  todo/TODO.md
Due: none

fix: return TransactionResponse from create/update endpoints to include fundName
  backend/internal/api/handlers/transactions.go
  backend/internal/api/handlers/transactions_test.go
  backend/internal/service/transaction_service.go
Due: none

fix: add retry loop for frontend proxy health check in CI
  .github/workflows/docker-test.yml
Due: none

chore: release v2.0.1
  CHANGELOG.md
  CLAUDE.md
  backend/VERSION
  frontend/package.json
  todo/TODO.md
Due: none

module update, sec comment
  backend/go.mod
  backend/go.sum
  backend/internal/api/handlers/developer.go
Due: none

frontend sec fixes
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

fix(backend): bump Go to 1.26.4 and drop deprecated chi RealIP
  .github/workflows/backend-ci.yml
  backend/Dockerfile
  backend/go.mod
  backend/internal/api/router.go
Due: docker-integration-test

ci: run E2E in prebaked Playwright image to fix docker-integration hang
  scripts/test-docker-integration.sh
Due: none

ci: trigger Docker Integration Tests on test-script changes
  .github/workflows/docker-test.yml
Due: none

chore: release v2.0.2 — patch frontend security advisories
  CHANGELOG.md
  backend/VERSION
  frontend/package.json
  frontend/pnpm-lock.yaml
  todo/TODO.md
Due: none

docs: complete v2.0.2 changelog with backend security fixes
  CHANGELOG.md
  todo/TODO.md
Due: none

docs: add #213 frontend dependency bumps to v2.0.2 changelog
  CHANGELOG.md
Due: none

fix: resolve frontend security advisories + consolidate dependabot bumps (v2.0.3)
  .github/workflows/backend-ci.yml
  .github/workflows/docker-test.yml
  .github/workflows/frontend-ci.yml
  CHANGELOG.md
  backend/VERSION
  backend/go.mod
  backend/go.sum
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/pages/Funds.js
  frontend/src/styles/modern-cards.css
  todo/TODO.md
Due: none

fix: fund chart lines in Safari/Firefox + IBKR allocation portfolio name
  backend/internal/model/ibkr.go
  frontend/src/pages/FundDetail.js
Due: none

Path conditions:
  pytest-backend: any of: \.py$
  docker-integration-test: any of: ^(backend/Dockerfile|frontend/Dockerfile|docker-compose\.yml|pyproject\.toml|uv\.lock|frontend/nginx\.conf)$
